@import url('https://fonts.googleapis.com/css?family=Space Grotesk');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  background: none;
  border: solid;
  border-color: gray;
  border-width: 1px;
  outline: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
  border-radius: 12px
}

button{
  cursor: pointer;
}

input,
textarea{
  padding: 8px;
}

.tru-primary{
  background-color: hsla(178.31, 76%, 46%, 1)
}

input:focus,
textarea:focus,
.tru-primary-border{
  outline: solid;
  outline-color: hsla(178.31, 76%, 46%, 1);
}

.tru-text {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
}


/* .tru-header {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.tru-body{
  font-weight: 400;
  letter-spacing: 0em;
} */
